@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Public Sans", sans-serif;
}

:root {
	--bg-dark: 28, 25, 23;
	--bg-light: 237, 247, 246;
}

body {
	background-color: rgba(var(--bg-dark), 1);
	overflow-x: hidden;
}

@keyframes slide {
	to {
		background-position-x: 400%;
	}
}
#tiles {
	height: calc(100vh - 5rem);
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);

	background-color: var(--bg-dark);
}

#tiles:hover::before {
	opacity: 1;
	/* clip-path: circle(10% at var(--mouse-x) var(--mouse-y)); */
	transition: opacity 500ms ease;
}

#tiles::before {
	height: calc(100vh - 5rem);
	width: 100%;
	position: absolute;
	right: 0;
	top: 5rem;
	z-index: 1;
	content: "";
	background: radial-gradient(
		circle at var(--mouse-x) var(--mouse-y),
		rgba(var(--bg-dark), 1) 0%,
		rgba(63, 94, 251, 1) 0.1%,
		rgba(252, 70, 107, 1) 20%,
		rgba(var(--bg-dark), 1) 70%
	);
	opacity: 0;
	background-size: 100%;
	transition: opacity 500ms ease;
}

.tile {
	position: relative;
}
.tile:before {
	background-color: rgba(var(--bg-dark), 1);
	content: "";
	position: absolute;
	inset: 0.5px;
	z-index: 2;
}

.hero-container {
	height: calc(100vh - 5rem);

	animation: slide 20s infinite linear;
}

.gradient-text {
	background: linear-gradient(
			90deg,
			rgba(63, 94, 251, 1) 0%,
			rgba(252, 70, 107, 1) 50%,
			rgba(63, 94, 251, 1) 100%
		)
		0 0 / 400% 100%;

	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	animation: slide 20s infinite linear;
}

.hero-text {
	pointer-events: none;
	z-index: 3;
}
